/* Navbar.css */

.navbar {
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.navbar-logo {
  height: 40px; /* Ajusta el tamaño del logo según sea necesario */
  margin-right: 10px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar-link:hover {
  color: #eaa693;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar-menu {
    display: none; /* Oculta el menú en pantallas pequeñas por defecto */
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 60px; /* Ajusta según el tamaño del navbar */
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .navbar-menu.active {
    display: flex; /* Muestra el menú cuando está activo */
  }

  .navbar-item {
    margin: 10px 0;
    text-align: center;
  }

  .navbar-toggler {
    display: block; /* Muestra el botón de menú en pantallas pequeñas */
    background-color: #eaa693;
    border: none;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
}
